cmd/weaver/weaver
examples/chat/chat
examples/collatz/collatz
examples/factors/factors
examples/onlineboutique/onlineboutique
examples/hello/hello
website/public/

# Eclipse
.classpath
.project
.settings/**

# ignore jetbrain IDE e.g. GoLand
.idea/
*.iml

# Vscode file
.vscode