[serviceweaver]
binary = "./collatz"
rollout = "5m"

[single]
listeners.collatz = {address = "localhost:9000"}

[multi]
listeners.collatz = {address = "localhost:9000"}

[ssh]
listeners.collatz = {address = "localhost:9000"}
locations = "./ssh_locations.txt"

[gke]
regions = ["us-west1"]
listeners.collatz = {public_hostname = "collatz.example.com"}

[kube]
listeners.collatz = {public = true}
# To upload the image to another registry, check `weaver kube deploy -h`.
image = "docker.io/my_docker_hub_username/collatz"
