[serviceweaver]
binary = "./onlineboutique"
rollout = "5m"
colocate = [
  [
    "main",
    "github.com/ServiceWeaver/weaver/examples/onlineboutique/adservice/T",
    "github.com/ServiceWeaver/weaver/examples/onlineboutique/cartservice/T",
    "github.com/ServiceWeaver/weaver/examples/onlineboutique/cartservice/cartCache",
    "github.com/ServiceWeaver/weaver/examples/onlineboutique/checkoutservice/T",
    "github.com/ServiceWeaver/weaver/examples/onlineboutique/currencyservice/T",
    "github.com/ServiceWeaver/weaver/examples/onlineboutique/emailservice/T",
    "github.com/ServiceWeaver/weaver/examples/onlineboutique/paymentservice/T",
    "github.com/ServiceWeaver/weaver/examples/onlineboutique/productcatalogservice/T",
    "github.com/ServiceWeaver/weaver/examples/onlineboutique/recommendationservice/T",
    "github.com/ServiceWeaver/weaver/examples/onlineboutique/shippingservice/T",
  ]
]

[gke]
regions = ["us-west1"]
listeners.boutique = {public_hostname = "onlineboutique.example.com"}
